
/* Background colors */
.theme-background-color-one { background-color: var(--theme-background-color-one); }
.theme-background-color-two { background-color: var(--theme-background-color-two); }

/* Text colors */
.theme-color-one { color: var(--theme-color-one); }
.theme-color-two { color: var(--theme-color-two); }
