

    /* outline: 1px solid red; */
/* * {  box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.wireframe * {
    outline: 1px solid red;
}
