

/* --------------- */
/* General styling */
/* --------------- */
/* Page content container; holds all page components */
.pageContainer {
    /* background-color: #35526f; #07090d; */
    background-color: white;
    width: 100vw;
    min-height: 100vh;
    opacity: 0;
}

.pageHeader {
    background-color: #7dbdf5;
}

.pageHeader h1 {
    font-size: 3.5rem;
    color: white;
}
