
/* ---------- */
/* Animations */
/* ---------- */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; };
}

@keyframes focusIn {
    0% { filter: blur(5px); }
    100% { filter: blur(0px); }
}

.fade-in {
    animation-name: fadeIn;
    animation-duration: 7s;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
}

.focus-in {
    animation-name: focusIn;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
}

.fade-in-focus-intro {
    animation: fadeIn 1.5s ease-in-out 1.5s forwards,
        focusIn 3s ease-in-out 1.5s forwards;
}

.fade-in-focus-title {
    animation: fadeIn 0.5s ease-in-out 3.5s forwards,
        focusIn 1s ease-in-out 3.5s forwards;
}

.fade-in-lights {
    animation: fadeIn 1s ease 4.5s forwards;
}

/* --------------- */
/* General styling */
/* --------------- */
/* Page content container; holds all page components */
.page-container {
    background-color: #0e1219; /*#07090d;*/
    width: 100vw;
    min-height: 100vh;
}


/* Logo group; contains all components of the logo image */
.logo-group {
    position: relative;
    width: 200px;
    height: 200px;
}

.logo-group img {
    position: absolute;
    width: 100%;
    height: 100%;
}


/* Intro section styling */
.intro {
    opacity: 0;
    filter: blur(5px);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro .logo-group {
    --size: 25vw;
    width: var(--size);
    height: var(--size);
}

.intro .logo-group h1 {
    --font-size: 3rem;
    opacity: 0;
    text-align: center;
    position: absolute;
    width: 100%;
    top: -75px;
    color: #b3eef8;
    font-size: var(--font-size);
}

.intro .logo-lights {
    opacity: 0;
}
