.container {
    /* box-shadow: 2px 2px 3px black; */
    transition: transform .3s ease;
    background-color: #B6D0B7;
}
.card:hover{
    transform: scale(1.01);
}
.cardTitle{
   
    font-weight: 800;
    font-size: 1.5rem;
}
.cardImage {
    display: flex;
    justify-content: flex-start;
}
.cardImage img {
    width: 10rem;
    border-radius: 50%;
}