.profile-card {
    height: 100%;
    background-color: #629764!important;
    /* margin: auto; */
}
/* 
.title {
    color: white;
    text-shadow: 1px 1px 1px #4A6765;
}
.text {
    color: white;
    text-shadow: 1px 1px 1px #4A6765;
} */

.cardImage {
    display: flex;
    justify-content: center;
    margin: 1rem;
    

}
.cardImage img {
    width: 10rem;
    border-radius: 50%;
}