.events {
    margin-top: 2rem;
}

.event-body {
    /* scroll-behavior: smooth; */
    height: auto;
    /* overflow-y: scroll; */
    background-color: gray;
    opacity: 85%;

}

/* .event-body{
    width: 75%;
} */