
.logoTopText {
    position: absolute;
    width: calc(100% + 10px);
    left: -10px;
    top: 0;
    z-index: 3;
    text-align: center;
    font-family: 'Edu NSW ACT Foundation', cursive;
    text-shadow: 3px 3px black;
}

.logoGroup {
    min-width: 100px;
    min-height: 100px;
}